/code/trained_models/*
/code/processed_data/*
/code/model_outputs/figures/*
/code/model_outputs/artifacts
/code/data/*
/code/__pycache__
*.csv
*.pyc
xai_pipelines/dumbs/XAI_Pipeline_sep_23_latest_output.ipynb
xai_pipelines/XAI_Pipeline.ipynb
*.ipynb
### VisualStudioCode ###
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

code/config.py
